<!-- rstumm2s -->
<article>
    <style>
    table.monitor {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table.monitor td {
        vertical-align: text-top;
    }
    </style>

    <table class="monitor" border="1">
        <tr>
            {{#vehicleStates}}
                <th>{{.}}</th>
            {{/vehicleStates}}
        </tr>
        <tr>
            {{#vehicleStates}}
                <td data-state="{{.}}"
                    ondragover="__hoc.monitor.dnd.dragover(event);"
                    ondrop="__hoc.monitor.dnd.drop(event);">
                </td>
            {{/vehicleStates}}
        </tr>
    </table>
    <script>
    'use strict';
    if (window.__hoc === undefined) {
        window.__hoc = {};
    }
    __hoc.monitor = (function () {
        let target = document.currentScript.previousElementSibling;

        let socket;
        (function connect() {
            socket = new WebSocket('ws://' + location.host + '/ws/status/monitor');
            socket.onclose = connect;
            socket.onmessage = function (msg) {
                let data = JSON.parse(msg.data);

                let tds = target.getElementsByTagName('td');
                for (let i = 0; i < tds.length; i++) {
                    let td = tds[i];
                    td.innerHTML = null;

                    let listHTML = '<ul>';
                    data // XXX move grouping to server / db query
                        .filter(function (it) {
                            return it.state == td.dataset.state;
                        })
                        .sort((a, b) => a.paid > b.paid)
                        .forEach(function (it) {
                            listHTML += '<li draggable="true" ondragstart="__hoc.monitor.dnd.dragstart(event);" ';
                            listHTML += 'data-vehicle="';
                            listHTML += it.vehicle_license;
                            listHTML += '" data-state="';
                            listHTML += it.state
                            listHTML += '">';
                            listHTML += it.vehicle_license;
                            if (it.state == 'Leaving') {
                                listHTML += '<input type="checkbox" onchange="__hoc.monitor.pay(\'';
                                listHTML += it.vehicle_license;
                                listHTML += '\', this);" ';
                                if (it.paid) {
                                    listHTML += 'checked="" disabled="" ';
                                }
                                listHTML += '/>';
                            }
                            listHTML += '</li>';
                        });
                    listHTML += '</ul>';

                    td.insertAdjacentHTML('beforeend', listHTML);
                }
            };
        })();

        return {
            dnd: {
                dragstart: function (event) {
                    event.dataTransfer.setData('text/plain', JSON.stringify({
                        vehicle: event.target.dataset.vehicle,
                        state: event.target.dataset.state
                    }));
                },
                dragover: function (event) {
                    event.preventDefault();
                    event.dataTransfer.dropEffect = 'move';
                },
                drop: function (event) {
                    event.preventDefault();
                    let payload = JSON.parse(event.dataTransfer.getData('text'));
                    socket.send(JSON.stringify({
                        type: 'set-state',
                        vehicle: payload.vehicle,
                        state: event.currentTarget.dataset.state
                    }));
                }
            },
            pay: function (vehicle, checkbox) {
                if (checkbox) {
                    checkbox.disabled = true;
                }
                socket.send(JSON.stringify({
                    type: 'pay',
                    vehicle: vehicle
                }));
            }
        };
    })();
    </script>
</article>
