<!-- rstumm2s -->
<article class="status">
    <style>
    .status {
        background: burlywood;
        border-radius: 1.5cm;
        border-style: solid;
        box-shadow: inset 0px 0px 20px 2px black;
        text-shadow: 0px 0px 20px black;
        text-align: center;
        margin: 1cm;
    }
    </style>

    <div>Waiting for update...</div>
    <script>
    'use strict';
    if (window.__hoc === undefined) {
        window.__hoc = {};
    }
    __hoc.status = (() => {
        let target = document.currentScript.previousElementSibling;

        let socket;
        (function connect() {
            socket = new WebSocket('ws://' + location.host + '/ws/status');
            socket.onclose = connect;
            socket.onmessage = msg => {
                let data = JSON.parse(msg.data);
                switch (data.type) {
                    case 'update':
                        update(data.values);
                        break;
                    default:
                        throw 'unknown message type: ' + data.type;
                }
            };
        })();

        function update(values) {
            target.innerHTML =
                '<h1>Free: ' + values.numFree.value + '</h1>\n' +
                {{#spotTypes}}
                '<h3>{{.}}: ' + values["numFree-{{.}}"].value + '</h3>' +
                {{/spotTypes}}
                ''; // end concat
        };

        return {
            update: socket.close
        };
    })();
    </script>
</article>
