<!-- rstumm2s -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <title>House of Cars</title>
</head>
<body>
<h1>Overview</h1>
<table border="1">
    <tr>
        <th>Total</th>
        <th>Free</th>
        <th>Occupied</th>
        <th>Vehicles</th>
        <th>Moving</th>
        <th>Parking</th>
        <th>Leaving</th>
    </tr>
    <tr style="text-align: right">
        <td>{{numTotal}}</td>
        <td>{{numFree}}</td>
        <td>{{numUsed}}</td>
        <td>{{numVehicles}}</td>
        <td>{{numPending}}</td>
        <td>{{numParking}}</td>
        <td>{{numLeaving}}</td>
    </tr>
</table>
</body>
</html>
