<!-- rstumm2s -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="style.css"/>
    <title>House of My Cars</title>
    <style>
    body {
        text-align: center;
    }

    #login input, #login button {
        width: 25vw;
    }

    hr {
        margin: .8cm 0px;
    }

    img.button {
        height: 3em;
    }

    table.vehicles {
        table-layout: fixed;
        border-collapse: collapse;

        width: 80%;
        margin: auto;
    }

    table.vehicles th,
    table.vehicles td {
        border: 1px solid;
    }

    table .spacer {
        border: none !important;
    }
    </style>
</head>
<body>
<h1>House of Cars</h1>
{{>partials/status.html}}

<hr/>

{{^session}}
<form id="login" method="POST">
    <p><input type="text" name="license" placeholder="ABXY1234"/></p>
    <p><input type="password" name="pass" placeholder="password"/></p>
    <button>Claim or Log in</button>
</form>
{{/session}}

{{#session}}
<a href="?logout">
    <img src="exit.svg" class="button"/>
</a>

<h2>My Vehicles</h2>
<table class="vehicles">
    <thead>
        <tr>
            <th class="spacer"></th>
            <th>State</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Limit</th>
        </tr>
    </thead>
    <tbody>
        {{#session.customer.vehicles}}
        <tr>
            <th>{{license}}</th>
            <td>{{lastTransition.state}}</td>
            <td>{{lastTransition.durationTemplate}}</td>
            <td {{^lastTransition.priceTemplate}}class="spacer"{{/lastTransition.priceTemplate}}>{{lastTransition.priceTemplate}}</td>
            <td {{^lastTransition.overdueTemplate}}class="spacer"{{/lastTransition.overdueTemplate}}>{{lastTransition.overdueTemplate}}</td>
        </tr>
        {{/session.customer.vehicles}}
    </tbody>
</table>
{{/session}}
</body>
</html>
