<!-- rstumm2s -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="style.css"/>
    <title>House of My Cars</title>
    <style>
    body {
        text-align: center;
    }

    #login input, #login button {
        width: 25vw;
    }

    hr {
        margin: .8cm 0px;
    }

    img.button {
        height: 3em;
    }

    table.table {
        border-collapse: collapse;

        width: 80%;
        margin: auto;
    }

    table.table th,
    table.table td {
        border: 1px solid;
    }

    table.fixed {
        table-layout: fixed;
    }

    .reservations {
        margin: 1em;
        margin-left: auto;
        margin-right: auto;

        border-radius: .225cm;
        background: burlywood;
        box-shadow: inset 0px 0px 3px 1px;
        padding: .75em;
    }

    .expand:only-child {
        width: 100%;
    }

    table .spacer {
        border: none !important;
    }
    </style>
    {{#session}}
    <script src="notifications.js" async=""></script>
    {{/session}}
</head>
<body>
<h1>House of Cars</h1>
{{>partials/status.html}}

<hr/>

{{^session}}
<form id="login" method="POST">
    <p><input type="text" name="license" placeholder="ABXY1234"/></p>
    <p><input type="password" name="pass" placeholder="password"/></p>
    <button>Claim or Log in</button>
</form>
{{/session}}

{{#session}}
<a href="?logout">
    <img src="exit.svg" class="button"/>
</a>

<h2>My Vehicles</h2>
<table class="table fixed">
    <thead>
        <tr>
            <th class="spacer"></th>
            <th>State</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Limit</th>
        </tr>
    </thead>
    <tbody>
        {{#session.customer.lruVehicles}}
        <tr>
            <th>{{license}}</th>
            <td>{{lastTransition.state}}</td>
            <td>{{lastTransition.durationTemplate}}</td>
            <td {{^lastTransition.priceTemplate}}class="spacer"{{/lastTransition.priceTemplate}}>{{lastTransition.priceTemplate}}</td>
            <td {{^lastTransition.overdueTemplate}}class="spacer"{{/lastTransition.overdueTemplate}}>{{lastTransition.overdueTemplate}}</td>
        </tr>
        {{/session.customer.lruVehicles}}
        <tr>
            <th>
                <button>add another</button>
                <script>
                (() => {
                    let socket = new WebSocket('ws://' + location.host + '/ws/customers');
                    socket.onmessage = msg => {
                        let data = JSON.parse(msg.data);
                        switch (data.type) {
                            case 'merge':
                                socket.send(JSON.stringify({
                                    type: 'merge',
                                    vehicle: data.license,
                                    pass: prompt('What is ' + data.license + '\'s password?')
                                }));
                                break;
                            case 'changed':
                                location = location;
                                break;
                        }
                    };

                    let button = document.currentScript.previousElementSibling;
                    button.onclick = () => {
                        socket.send(JSON.stringify({
                            type: 'add-vehicle',
                            vehicle: prompt('What is your vehicle\'s license plate number?')
                        }));
                    };
                })();
                </script>
            </th>
        </tr>
    </tbody>
</table>

<h2>My Reservations</h2>
<table class="table">
    <thead>
        <tr>
            <th class="spacer"></th>
            <th>Start</th>
            <th>End</th>
            <th>Spot</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        {{#session.customer.reservations}}
        <tr>
            <th>
                {{id}}
                {{#state.state.active}}
                <form action="reservations" method="POST">
                    <input type="hidden" name="type" value="annull"/>
                    <input type="hidden" name="id" value="{{id}}"/>
                    <button>annull</button>
                </form>
                {{/state.state.active}}
            </th>
            <td>{{startTemplate}}</td>
            <td>{{endTemplate}}</td>
            <td>{{spotType}}</td>
            <td>{{state.state}}</td>
        </tr>
        {{/session.customer.reservations}}
        <tr>
            <th class="spacer"></th>
            <td>
                <input name="start-date" type="date" required="" form="new-reservation"/>
                <input name="start-time" type="time" required="" form="new-reservation"/>
            </td>
            <td>
                <input name="end-date" type="date" required="" form="new-reservation"/>
                <input name="end-time" type="time" required="" form="new-reservation"/>
            </td>
            <td>
                <select name="spotType" required="" class="expand" form="new-reservation">
                    {{#spotTypes}}
                    <option value="{{.}}">{{.}}</option>
                    {{/spotTypes}}
                </select>
            </td>
            <td>
                <button class="expand" form="new-reservation">book</button>
            </td>
        </tr>
        {{#session.customer.reservations.empty}}
        <tr>
            <td class="spacer"></td>
            <td colspan="4">
                You have no current reservations.
            </td>
        </tr>
        {{/session.customer.reservations.empty}}
    </tbody>
</table>
<form id="new-reservation" action="reservations" method="POST">
    <input type="hidden" name="type" value="new"/>
</form>
{{/session}}
</body>
</html>
