<!-- rstumm2s -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="style.css"/>
    <title>House of Cars Gate</title>
    <style>
    body {
        text-align: center;
    }

    #gate {
        width: 35%;
    }

    #recommended-spot {
        margin: 1cm;
        font-weight: bold;
    }
    #recommended-spot img {
        height: 5em;
    }
    </style>
    <script>
    'use strict';
    if (window.__hoc === undefined) {
        window.__hoc = {};
    }
    __hoc.vgate = (() => {
        let licenseReader = document.getElementById('license-reader');
        let gate = document.getElementById('gate');

        let socket;
        (function connect() {
            socket = new WebSocket('ws://' + location.host + '/ws/vgate');
            socket.onclose = connect;
            socket.onmessage = msg => {
                let data = JSON.parse(msg.data);
                switch (data.type) {
                    case 'open-response':
                        if (!data.permission) return;
                        state(true, data.recommendedSpot);
                        socket.send(JSON.stringify({
                            type: 'opened'
                        }));

                        // simulate vehicle driving in
                        setTimeout(() => {
                            state(false);
                            socket.send(JSON.stringify({
                                type: 'entered',
                                recommendedSpot: data.recommendedSpot,
                                license: __hoc.vgate.requestOpen.license
                            }));
                        }, 1000 + Math.random() * 2000);
                        break;
                }
            };
        })();

        function state(open, recommendedSpot) {
            let state = open ? 'open' : 'closed';
            document.getElementById('gate').src = 'gate-' + state + '.svg';
            document.getElementById('license-reader').hidden = open;

            let recommendedSpotElement = document.getElementById('recommended-spot');
            recommendedSpotElement.hidden = !open;
            recommendedSpotElement.getElementsByTagName('h2')[0].innerHTML = recommendedSpot;
        }

        return {
            state: state,
            requestOpen: license => {
                __hoc.vgate.requestOpen.license = license;
                socket.send(JSON.stringify({ // XXX is socket var updated in connect()?
                    type: 'open-request',
                    license: license
                }));
            }
        };
    })();
    </script>
</head>
<body onload="__hoc.vgate.state(false);">
{{>partials/status.html}}

<img id="gate" src="gate-closed.svg"/>

<form id="license-reader" action="javascript:void(0);">
    <input name="license" type="text"/>
    <button onclick="__hoc.vgate.requestOpen(document.getElementById('license-reader').license.value);">Enter</button>
</form>

<section id="recommended-spot">
    <img src="sign_post.svg"/>
    <h2></h2>
</section>

</body>
</html>
